:root {
  --mainDark: #343a40;
  --mainGrey: #rgba(109,109,109);
  --mainLightGrey: #rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler {
  border: none;
}

.jumbotron {
  background-image: url("background4.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width: 100%;
  height: 100vh;
}

.jumbotron h1, p{
  margin-top: 5px;
  margin-left: 35%;
  font-size: 65px;
  background-blend-mode: luminosity ;
  padding: 50px;
  padding-bottom: 10px;
}

.jumbotron h2, p{
  margin-top: 0px;
  margin-left: 45%;
  margin-bottom: 80px;
  font-size: 35px;
  background-blend-mode: luminosity ;
  padding: 0px;
}

.jumbotron h5 {
  margin-left: 35%;
  margin-bottom: 80px;
  font-size: 35px;
  background-blend-mode: luminosity ;
  padding: 0px;
  text-align: left;
}

.jumbotron container, p{
 background-color: #ffffff73;
}


.wrapper{
  width:200px;
  padding:20px;
  height: 150px;
  }

  .selecter {
    max-width:  160px;
}
.selecterStock {
  max-width:  455x;
}

.days
{
  min-width:300px;
}
.stars {
  margin-right:  0px;
  padding-right: 0px;
  margin-left:10px;
}


.workingHoursHeader
{
  margin-left: 5%;
  margin-bottom: 2%;
  font-size: 20px;
  background-blend-mode: luminosity ;
  padding: 0px;
  text-align: left;
}

.saveButton
{
  margin-left: 40%;
  margin-top: 100%;
}

.salePageButtons
{
  margin-left: 30%;
  margin-top: 40px;
}

.assignPageButtons
{
  margin-left: 950px;
  margin-top: 40px;
}

.stockContainer
{
  max-width: 150px;
  
}

.notificationIcon
{
  margin-left: 90%;
  margin-top: 0%;
}

.serviceComplaintButtons
{
  margin-top: 7%;
  margin-left: 80%;
}

